<table>
    <tr>
        <td>&nbsp;</td>
    </tr>
    {{#each apk}}
        <tr>
            <td class="provider">{{@key}}</td>
        </tr>
        {{#each this}}
            <tr>
                <td class="label">
                    {{#if this.label}}
                        {{this.label}}
                    {{/if}}
                </td>

                <td class="version" {{#if this.arch}}title="{{this.arch}}"{{/if}}>
                    {{#if this.version}}
                        {{this.version}}
                    {{/if}}
                </td>

                <td class="pkg">
                    {{#if this.pkg}}
                        {{this.pkg}}
                    {{/if}}
                </td>

                <td class="date">
                    {{#if this.date}}
                        {{this.date}}
                    {{/if}}
                </td>

                <td class="size">
                    {{#and this.size.value this.size.unit}}
                        {{this.size.value}}&#8239;{{this.size.unit}}
                    {{/and}}
                </td>

                <td class="main_link">
                    {{#if this.origDownloadLink}}
                        <a href="{{this.origDownloadLink}}">{{this.origDownloadLink}}</a>
                    {{/if}}
                </td>

                <td class="extra_link">
                    {{#if this.homepage}}
                        <a href="{{this.homepage}}" title="home page">hp</a>
                    {{/if}}
                    {{#if this.relativeDownloadLink}}
                        <a href="{{this.relativeDownloadLink}}" title="apk mirror">am</a>
                    {{/if}}
                </td>
            </tr>
        {{/each}}
        <tr class="empty">
            <td>&nbsp;</td>
        </tr>
    {{/each}}
</table>

<div class="raw">
    {{#each apk}}
        {{#each this}}
            <br>
            {{this.pkg}} {{this.version}}
            <br>
            {{this.label}} {{this.version}}
        {{/each}}
    {{/each}}
</div>

<div class="info">
    <p>
        Updated
        <br>
        <span class="data">— {{timestamp}}</span>
    </p>
    {{#if errors}}
        <p>
            Errors
            <br>
            {{#each errors}}
                <span class="data">
                    — <a href="{{this}}">{{this}}</a>
                </span>
                <br>
            {{/each}}
        </p>
    {{/if}}
    <p>
        Visits
        <br>
        {{#each ua}}
            <span class="data">— {{this}}</span>
            <br>
        {{/each}}
    </p>
</div>
