<table>
    <tr>
        <td>&nbsp;</td>
    </tr>
    {{#each files.apk}}
        <tr class="provider">
            <td>{{this.[0].provider}}</td>
        <tr>
        {{#each this}}
            <tr>
                <td class="label">{{#and this.label this.version}}{{this.label}} {{this.version}}{{/and}}</td>
                <td>{{#if this.name}}{{this.name}}{{/if}}</td>
                <td class="size">{{#if this.size}}{{this.size}}{{/if}}</td>

                {{#and this.orig this.file}}
                    <td {{#if this.arch}}title="{{this.arch}}"{{/if}} class="link"><a href="{{this.orig}}">{{this.file}}</a></td>
                {{else}}
                    <td>{{#if this.file}}{{this.file}}{{/if}}</td>
                {{/and}}

                <td>{{#and this.relativePath this.label}}<a class="mirror" href="{{this.relativePath}}">[зеркало]</a>{{/and}}</td>
            </tr>
        {{/each}}
        <tr>
            <td>&nbsp;</td>
        </tr>
    {{/each}}
</table>

<div class="info">
    <p>
        Обновлено:
        <br>
        <span class="info__data">
            {{data.texts.timestamp}}
            [apk: {{files.count}}{{#if data.texts.providers.count}}/{{data.texts.providers.count}}{{/if}}]
        </span>
    </p>
    {{#if data.texts.providers.errorLinks}}
        <p>
            Не удалось скачать:
            <br>
            <span class="info__data">
                <a href="{{data.texts.providers.errorLinks}}">— {{data.texts.providers.errorLinks}}</a>
            </span>
        </p>
    {{/if}}
    <p>
        Посетители:
        <br>
        {{#each data.visitors.useragents}}
            <span class="info__data">— {{this}}</span>
            <br>
        {{/each}}
    </p>
</div>
