<table>
    <tr>
        <td>&nbsp;</td>
    </tr>
    {{#each files.apk}}
        <tr class="provider">
            <td>{{this.[0].provider}}</td>
        <tr>
        {{#each this}}
            <tr>
                <td class="label">
                    {{#if this.label}}
                        {{this.label}}
                        {{#if this.version}}
                            {{this.version}}
                        {{/if}}
                    {{/if}}
                </td>


                {{#if this.name}}
                    {{#if this.arch}}
                        <td title="{{this.arch}}">
                    {{else}}
                        <td>
                    {{/if}}
                        {{this.name}}
                    </td>
                {{else}}
                    <td></td>
                {{/if}}

                <td class="size">
                    {{#if this.size}}
                        {{this.size}}
                    {{/if}}
                </td>

                {{#if this.orig}}
                    {{#if this.file}}
                        {{#if this.arch}}
                            <td title="{{this.arch}}" class="link">
                        {{else}}
                            <td class="link">
                        {{/if}}
                            <a href="{{this.orig}}">{{this.file}}</a>
                        </td>
                    {{else}}
                        <td></td>
                    {{/if}}
                {{else}}
                    {{#if this.file}}
                        <td>{{this.file}}</td>
                    {{else}}
                        <td></td>
                    {{/if}}
                {{/if}}

                <td>
                    {{#if this.relativePath}}
                        {{#if this.orig}}
                            <a class="mirror" href="{{this.relativePath}}">[зеркало]</a>
                        {{/if}}
                    {{/if}}
                </td>
            </tr>
        {{/each}}
        <tr>
            <td>&nbsp;</td>
        </tr>
    {{/each}}
</table>

<div class="info">
    <p>
        Обновлено:
        <br>
        <span class="info_data">{{data.texts.timestamp}} :: {{files.count}}/{{data.texts.providers.count}}</span>
    </p>
    <p>
        Посетители:
        <br>
        {{#each data.visitors.useragents}}
            <span class="info_data">— {{this}}</span>
            <br>
        {{/each}}
    </p>
</div>
