<hr>

<table>
    {{#each files.apk}}
        {{#each this}}
            <tr>
                <td>{{this.label}} {{this.version}}</td>
                <td>
                    <a href="{{this.relativePath}}">{{this.file}}</a>
                </td>
            </tr>
        {{/each}}
        <tr>
            <td>&nbsp;</td>
        </tr>
    {{/each}}
</table>

<hr>

<div class="info">
    <p>
        Обновление приложений:
        <span class="timestamp">{{data.texts.timestamp}} :: {{files.count}}/{{data.texts.providers.count}}</span>
        <br>
        Визиты:
    </p>
    <p>
        {{#each data.visitors.useragents}}
            > {{this}}
            <br>
        {{/each}}
    </p>
</div>
