<p class="header-main">{{pageData.texts.header}}</p>

<hr>

{{#each apkFiles}}
<p>
    <a href="{{this.relativePath}}">{{this.file}} ({{this.label}} {{this.version}})</a>
</p>
{{else}}
<p class="error-apps-not-found">Приложения ещё не скачивались</p>
{{/each}}

<hr>

<p class="crons-title-info">Проверка обновлений:</p>
{{#each pageData.crons}}
<p class="crons-items-info">— {{this.timestamp}} {{this.folder}}</p>
{{/each}}

<p class="ua-title-info">Визиты:</p>
{{#each pageData.visitors.useragents}}
<p class="ua-items-info">— {{this}}</p>
{{/each}}
