<table>
    <tr>
        <td>&nbsp;</td>
    </tr>
    {{#each files.apk}}
        {{#each this}}
            <tr>
                <td>{{this.label}} {{this.version}}</td>
                <td><a href="{{this.orig}}">{{this.file}}</a></td>
                <td>
                    {{#if this.relativePath}}
                        <a class="mirror" href="{{this.relativePath}}">[зеркало]</a>
                    {{/if}}
                </td>
            </tr>
        {{/each}}
        <tr>
            <td>&nbsp;</td>
        </tr>
    {{/each}}
</table>

<div class="info">
    <p>
        Обновление:
        <span>{{data.texts.timestamp}} :: {{files.count}}/{{data.texts.providers.count}}</span>
        <br>
        Визиты:
    </p>
    <p class="ua">
        {{#each data.visitors.useragents}}
            > {{this}}
            <br>
        {{/each}}
    </p>
</div>
