<table>
    <tr>
        <td>&nbsp;</td>
    </tr>
    {{#each apk}}
        <tr class="provider">
            <td>{{@key}}</td>
        </tr>
        {{#each this}}
            <tr>
                <td class="label">
                    {{#and this.label this.version}}
                        {{this.label}} {{this.version}}
                    {{/and}}
                </td>

                <td>
                    {{#if this.pkg}}
                        {{this.pkg}}
                    {{/if}}
                </td>

                <td class="size">
                    {{#if this.size}}
                        {{this.size.[0]}}&nbsp;{{this.size.[1]}}
                    {{/if}}
                </td>

                {{#and this.origDownloadLink this.fileName}}
                    <td {{#if this.arch}}title="{{this.arch}}"{{/if}} class="link">
                        <a href="{{this.origDownloadLink}}">{{this.fileName}}</a>
                    </td>
                {{else}}
                    <td>
                        {{#if this.fileName}}
                            {{this.fileName}}
                        {{/if}}
                    </td>
                {{/and}}

                <td>
                    {{#and this.relativeDownloadLink this.label}}
                        <a class="mirror" href="{{this.relativeDownloadLink}}">[зеркало]</a>
                    {{/and}}
                </td>
            </tr>
        {{/each}}
        <tr>
            <td>&nbsp;</td>
        </tr>
    {{/each}}
</table>

<div class="info">
    <p>
        Обновлено:
        <br>
        <span class="info__data">— {{timestamp}}</span>
    </p>
    {{#if errors}}
        <p>
            Не удалось скачать:
            <br>
            {{#each errors}}
                <span class="info__data">
                    — <a class="error__link" href="{{this}}">{{this}}</a>
                </span>
                <br>
            {{/each}}
        </p>
    {{/if}}
    <p>
        Посетители:
        <br>
        {{#each ua}}
            <span class="info__data">— {{this}}</span>
            <br>
        {{/each}}
    </p>
</div>
