<hr>

<table>
    {{#each apkFiles.common}}
        <tr>
            <td>{{this.label}} {{this.version}}</td>
            <td>
                <a href="{{this.relativePath}}">{{this.file}}</a>
            </td>
        </tr>
    {{/each}}
    <tr>
        <td>&nbsp;</td>
    </tr>
    {{#each apkFiles.banks}}
        <tr>
            <td>{{this.label}} {{this.version}}</td>
            <td>
                <a href="{{this.relativePath}}">{{this.file}}</a>
            </td>
        </tr>
    {{/each}}
    <tr>
        <td>&nbsp;</td>
    </tr>
    {{#each apkFiles.tinkoff}}
        <tr>
            <td>{{this.label}} {{this.version}}</td>
            <td>
                <a href="{{this.relativePath}}">{{this.file}}</a>
            </td>
        </tr>
    {{/each}}
    <tr>
        <td>&nbsp;</td>
    </tr>
    {{#each apkFiles.sber}}
        <tr>
            <td>{{this.label}} {{this.version}}</td>
            <td>
                <a href="{{this.relativePath}}">{{this.file}}>
            </td>
        </tr>
    {{/each}}
</table>

<hr>

<div class="info">
    <p>
        Обновление приложений:
        <span class="timestamp">{{pageData.texts.timestamp}}</span>
        <br>
        Визиты:
    </p>
    <p>
        {{#each pageData.visitors.useragents}}
            > {{this}}
            <br>
        {{/each}}
    </p>
</div>
