<h1>{{pageData.texts.header}}</h1>

<table>
    {{#each apkFiles}}
        <tr>
            <td class="timestamp">{{this.timestamp}}</td>
            <td>{{this.label}} {{this.version}}</td>
            <td>
                <a href="{{this.relativePath}}">{{this.file}}</a>
            </td>
        </tr>
    {{else}}
        <tr>
            <td class="error">Приложения ещё не скачивались</td>
        </tr>
    {{/each}}
</table>


<p class="visitors_ua_title">Визиты:</p>
{{#each pageData.visitors.useragents}}
    <p class="visitors_ua_items">> {{this}}</p>
{{/each}}
