<table>
    <tr>
        <td>&nbsp;</td>
    </tr>
    {{#each files.apk}}
        <tr class="type">
            <td>{{this.[0].type}}</td>
        <tr>
        {{#each this}}
            <tr>
                <td class="label">{{this.label}} {{this.version}}</td>
                <td>{{this.name}}</td>
                {{#if this.orig}}
                    <td><a href="{{this.orig}}">{{this.file}}</a></td>
                {{else}}
                    <td>{{this.file}}</td>
                {{/if}}
                <td>
                    {{#if this.relativePath}}
                        <a class="mirror" href="{{this.relativePath}}">[зеркало]</a>
                    {{else}}
                        [-------]
                    {{/if}}
                </td>
            </tr>
        {{/each}}
        <tr>
            <td>&nbsp;</td>
        </tr>
    {{/each}}
</table>

<div class="info">
    <p>
        Обновление:
        <br>
        <span class="info_data">{{data.texts.timestamp}} :: {{files.count}}/{{data.texts.providers.count}}</span>
    </p>
    <p>
        Визиты:
        <br>
        {{#each data.visitors.useragents}}
            <span class="info_data">— {{this}}</span>
            <br>
        {{/each}}
    </p>
</div>
