<table>
    <tr>
        <td>&nbsp;</td>
    </tr>
    {{#each apk}}
        <tr>
            <td class="provider">{{@key}}</td>
        </tr>
        {{#each this}}
            <tr>
                <td class="label">
                    {{#if this.label}}
                        {{this.label}}
                    {{/if}}
                </td>

                <td class="version" {{#if this.arch}}title="{{this.arch}}"{{/if}}>
                    {{#if this.version}}
                        {{this.version}}
                    {{/if}}
                </td>

                <td class="pkg">
                    {{#if this.pkg}}
                        {{this.pkg}}
                    {{/if}}
                </td>

                <td class="date">
                    {{#if this.date}}
                        {{this.date}}
                    {{/if}}
                </td>

                <td class="size">
                    {{#and this.size.value this.size.unit}}
                        {{this.size.value}}&nbsp;{{this.size.unit}}
                    {{/and}}
                </td>

                {{#and this.origDownloadLink this.fileName}}
                    <td class="link">
                        <a href="{{this.origDownloadLink}}">{{this.fileName}}</a>
                    </td>
                {{else}}
                    <td class="file">
                        {{#if this.fileName}}
                            {{this.fileName}}
                        {{/if}}
                    </td>
                {{/and}}

                <td>
                    {{#if this.relativeDownloadLink}}
                        <a class="link_extra" href="{{this.relativeDownloadLink}}">[apk mirror]</a>
                    {{/if}}
                </td>

                <td>
                    {{#if this.homepage}}
                        <a class="link_extra" href="{{this.homepage}}">[homepage]</a>
                    {{/if}}
                </td>
            </tr>
        {{/each}}
        <tr>
            <td>&nbsp;</td>
        </tr>
    {{/each}}
</table>

<div class="raw">
    {{#each apk}}
        {{#each this}}
            <br>
            {{this.pkg}} {{this.version}}
            <br>
            {{this.label}} {{this.version}}
        {{/each}}
    {{/each}}
</div>

<div class="info">
    <p>
        Updated
        <br>
        <span class="data">— {{timestamp}}</span>
    </p>
    {{#if errors}}
        <p>
            Errors
            <br>
            {{#each errors}}
                <span class="data">
                    — <a class="link_extra" href="{{this}}">{{this}}</a>
                </span>
                <br>
            {{/each}}
        </p>
    {{/if}}
    <p>
        Visits
        <br>
        {{#each ua}}
            <span class="data">— {{this}}</span>
            <br>
        {{/each}}
    </p>
</div>
